name: Shellcheck

on:
  push:
    paths:
      - "deauther.sh"
      - ".github/workflows/shellcheck.yml"
  pull_request:
    paths:
      - "deauther.sh"
      - ".github/workflows/shellcheck.yml"

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Shellcheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          ignore_paths: ""
